@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  .print\:hidden {
    display: none !important;
  }
  .print\:shadow-none {
    box-shadow: none !important;
  }
  .print\:border {
    border: 1px solid #000 !important;
  }
}
